pkgbase = cavasik
	pkgdesc = Audio visualizer based on CAVA
	pkgver = v3.1.1
	pkgrel = 1
	url = https://github.com/TheWisker/Cavasik
	arch = any
	license = GPL-3.0-or-later
	checkdepends = appstream-glib
	makedepends = git
	makedepends = meson
	depends = cava
	depends = libadwaita
	depends = python
	depends = python-gobject
	depends = python-cairo
	depends = python-pydbus
	depends = glib2
	depends = hicolor-icon-theme
	depends = gtk4
	depends = dconf
	source = cavasik-v3.1.1::git+https://github.com/TheWisker/Cavasik#tag=v3.1.1
	sha512sums = 26f6e7abeda064a0cc80ff98142a6ba15307a05f0b079c8f6c78a60a55ddf601ccd81d149e36abb5f34169dc1f03820ac3c8e2fc9ed9dc64bb0ef0bbc27cc94f

pkgname = cavasik
