pkgbase = cavasik
	pkgdesc = Audio visualizer based on CAVA
	pkgver = v3.1.0
	pkgrel = 1
	url = https://github.com/TheWisker/Cavasik
	arch = any
	license = GPL-3.0-or-later
	checkdepends = appstream-glib
	makedepends = git
	makedepends = meson
	depends = cava
	depends = libadwaita
	depends = python
	depends = python-gobject
	depends = python-cairo
	depends = python-pydbus
	depends = glib2
	depends = hicolor-icon-theme
	depends = gtk4
	depends = dconf
	source = cavasik-v3.1.0::git+https://github.com/TheWisker/Cavasik#tag=v3.1.0
	sha512sums = 2022dc0ab5b42894114e55fcb12019779c0330a4b01458b6ba90d9b2dc863469f977afb719e6011e229632b8888f5ed92d52a75dcfbd648d77ad252a93f0fbca

pkgname = cavasik
